<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--thymeleaf 사용하기 위한 xmlnamespace 설정-->
<head th:replace="fragments.html :: head"></head>
<body class="bg-dark">
<div th:replace="fragments.html :: main-nav"></div>


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <form class="needs-validation" action="#"
                          th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
                    <div class="card-body p-5 text-center">
                        <h2>회원가입</h2>
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typeEmailX">이메일 주소</label>
                                <input type="email" id="typeEmailX" placeholder="your@email.com" aria-describedby="emailHelp"
                                       class="form-control form-control-lg" required>
                                <small id="emailHelp" class="form-text text-muted">
                                    FamilyEvents는 사용자의 이메일을 공개하지 않습니다.
                                </small>
                                <small class="invalid-feedback">이메일을 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                    Error</small>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">비밀번호</label>
                                <input type="password" id="typePasswordX" aria-describedby="passwordHelp"
                                       class="form-control form-control-lg" required minlength="8" maxlength="50">
                                <small id="passwordHelp" class="form-text text-muted">
                                    8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                                </small>
                                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                                    Error</small>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">비밀번호 확인</label>
                                <input type="password" id="typePasswordXConfirm" aria-describedby="passwordHelp"
                                       class="form-control form-control-lg" required minlength="8" maxlength="50">
                                <small id="passwordHelp" class="form-text text-muted">
                                    비밀번호를 다시 입력하세요.
                                </small>
                                <small class="invalid-feedback">비밀번호를 입력하세요.</small>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                                    Error</small>
                            </div>

                            <div class="form-group">
                                <div class="checkbox col-xl-12">
                                    <input tabindex="8" id="agree_privacy" name="agree_privacy" type="checkbox" value="y" required>
                                    <label for="agree_privacy" style="font-size: 0.8em">
                                        위 개인정보 수집·이용에 대한 동의합니다.
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5 mt-3" type="submit">정보입력 완료</button>
                            <hr class="mt-4">
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
                            <hr class="mt-4">
                            <p class="mb-2"><a href="#!" class="text-primary-50 fw-bold">계정이 이미 있습니까?</a></p>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<div class="container text-light">
    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-6" action="#"
              th:action="@{/sign-up}" th:object="${signUpForm}" method="post" novalidate>
            <div class="form-group">
                <label for="nickname">닉네임</label>
                <input id="nickname" type="text" th:field="*{nickname}" class="form-control"
                       placeholder="devjun" aria-describedby="nicknameHelp" required minlength="3" maxlength="20">
                <small id="nicknameHelp" class="form-text text-muted">
                    공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.
                </small>
                <small class="invalid-feedback">닉네임을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname
                    Error</small>
            </div>

            <div class="form-group">
                <label for="email">이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required>
                <small id="emailHelp" class="form-text text-muted">
                    스터디올래는 사용자의 이메일을 공개하지 않습니다.
                </small>
                <small class="invalid-feedback">이메일을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                    Error</small>
            </div>

            <div class="form-group">
                <label for="password">패스워드</label>
                <input id="password" type="password" th:field="*{password}" class="form-control"
                       aria-describedby="passwordHelp" required minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">
                    8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.
                </small>
                <small class="invalid-feedback">패스워드를 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                    Error</small>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">가입하기
                </button>
                <small id="submitHelp" class="form-text text-muted">
                    <a href="#">약관</a>에 동의하시면 가입하기 버튼을 클릭하세요.
                </small>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>
-->
<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:replace="fragments.html :: form-validation"></script>

</body>
</html>